---
title: About Me 👋 
layout: base.liquid 
--- 
<div class="space-y-2"> 
    {% include "_back.liquid" %} 
    <div class="row mt-8 mb-4">
        <h1>About Me <span class="wave">👋</span></h1>
        {% comment %} <h1>
        <a href="https://cobre.dev/CV.pdf" class="text-2xl">CV 📕</a>
        </h1> {% endcomment %}
    </div>
    <div class="space-y-2">
        <p>Hi, I'm Cooper - also known as Cobre! I'm a hobbyist photographer with experience in multiple genres of photography, ranging from airshows and aircraft to nature and wildlife.</p>
        <p>I love capturing and sharing the world through my lens, whether it's the thrilling moments of an airshow or the simple beauty of daily life.</p>
        <p>My photography journey began with just an iPhone and a fantastic app called Halide. As my skills and passion grew, I upgraded to a Nikon DSLR and a couple of versatile lenses that allow me to capture the wide range of scenes I love. I've continued to upgrade gear throughout the years, and have a collection of lenses and cameras.</p>
        <p>Feel free to explore my portfolio and see the world through my eyes. Follow me on social media or drop me a message - I'd love to hear from you!</p>
        <p>You can reach me at <a href="mailto:cooper@cobre.photos" class="underline-email arrow-external">cooper@cobre.photos</a>, or follow me on <a class="underline-instagram" href="https://www.instagram.com/cobre.photos/">Instagram</a></p>
    </div>
</div>