---
title: cobre.photos 📷 
layout: index.liquid
---

<div>
  <div class="space-y-2 flex justify-center items-center flex-col">
    <div class="mt-12">
      <h1 class="text-4xl font-bold">cobre.photos</h1>
    </div>
    <div class="flex flex-row justify-center items-center space-x-2">

      <h2 class="text-amber-400 text-sm"><a class="underline-instagram" href="https://www.instagram.com/cobre.photos/">Instagram</a></h2>
      <h2 class="text-amber-400 text-sm"><a class="underline-email" href="mailto:cooper@cobre.photos">Email</a></h2>
      <h2 class="text-amber-400 text-sm"><a href="/about">About Me</a></h2>
    </div>

    <div class="space-y-2 flex justify-center items-center flex-col">
      <div class="mt-12">
        <a class="text-2xl" href="/events/">All Events</a>
      </div>
    <div class="mt-12">
      <p class="text-zinc-400">See pictures from past events I've shot!</p>
    </div>
    </div>
  </div>

  <div class="space-y-2 flex justify-center items-center flex-col">
    <div class="mt-12">
      <h1 class="text-2xl font-bold">Highlights</h1>
    </div>
    <div class="mt-12">
      <p class="text-zinc-400">A selection of my favorite photos from recent shoots and events.</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 pt-6">
    {% for gallery in galleries.galleries %}
      {% if gallery.type == "portfolio" and gallery.images.size > 0 %}
        <a href="{{ gallery.path }}" class="block hover:brightness-75 transition-filter duration-200">
          <img
            src="{{ gallery.preview | replace: '.jpg', '_preview.webp' }}"
            alt="{{ gallery.title }}"
            class="w-full object-cover" />
          <h2 class="mt-2 text-center">
            {{ gallery.title }}
          </h2>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>